/* *
{
    border: 1px solid red;
} */

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
}

#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: auto;
    gap: 1rem;
}

#form
{
    display: flex;
    width: 100%;
    height: auto;
    gap: 1rem;
    text-align: center;
}

.input
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 1rem;
}

#links
{
    display: flex;
    gap: 1rem;
}

#footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}